<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/admin">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Admin</div>
  </a>
  <hr class="sidebar-divider my-0">
  <li class="nav-item active">
    <a class="nav-link" routerLink="/admin">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Tableau de Bord</span></a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Tâches
  </div>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="fas fa-users"></i>
      <span>Utilisateurs</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Utilisateurs</h6>
        <a class="collapse-item" routerLink="/ajouterUtilisateur">Ajouter un Utilisateur</a>
        <a class="collapse-item" routerLink="/listeUtilisateurs">Liste des Utilisateurs</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="true"
      aria-controls="collapseTwo1">
      <i class="fas fa-boxes"></i>
      <span>Produits</span>
    </a>
    <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Liste des Produits</h6>
        <a class="collapse-item" routerLink="/listeProduitsAdmin">Liste des Produits</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="true"
      aria-controls="collapseTwo2">
      <i class="far fa-list-alt"></i>
      <span>Commandes</span>
    </a>
    <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Liste des Commandes</h6>
        <a class="collapse-item" routerLink="/listcommande">Liste des Commandes</a>
      </div>
    </div>
  </li>
</ul>