<div *ngIf = "estAuth">
<body id="page-top">
  <div id="wrapper">
    <app-menu-admin-agauche></app-menu-admin-agauche>
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <app-top-menu></app-top-menu>
        </div>
      </div>
    </div>
  </body>
  <footer class="sticky-footer" align="center" 
          style="color: white; background-color: #4e73df;">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>&copy; Copyright 2019 <b>ePROD</b>, <b>La Poste Tunisienne</b>. Tous droits réservés.</span>
      </div>
    </div>
  </footer>
</div>