<section id="contact" class="section-bg wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>Contactez Nous</h2>
      <p>Vous avez des problèmes ou des questions ? Envoyez nous un message
        et nous vous aiderons.
      </p>
    </div>

    <div class="row contact-info">

      <div class="col-md-4">
        <div class="contact-address">
          <i class="ion-ios-location-outline"></i>
          <h3>Où sommes-nous?</h3>
          <address>Tunis, Centre Ville, Rue Hedi Nouira</address>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-phone">
          <i class="ion-ios-telephone-outline"></i>
          <h3>Numéro de Téléphone</h3>
          <p><a href="tel:+21620791462">+21620791462</a><br>
            <a href="tel:+21655708866">+21655708866</a></p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-email">
          <i class="ion-ios-email-outline"></i>
          <h3>Addresse Email</h3>
          <p><a href="mailto:platVentePosteAdmins@gmail.com">platVentePosteAdmins@gmail.com</a></p>
        </div>
      </div>
    </div>
    <app-contact></app-contact>
  </div>
</section>

