<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <br>
        <h2>À Propos de Nous</h2>
        <p>Nous sommes en partenariat avec la Poste Tunisienne et nous vendons
          tout type de Produit dans cette Plateforme de Vente. Rejoignez-Nous.
        </p>
      </div>
      <div class="col-lg-3">
        <br>
        <h3>Où</h3>
        <p>Tunis, Centre Ville, Rue Hedi Nouira</p>
      </div>
      <div class="col-lg-3">
        <br>
        <h3>Quand</h3>
        <p>Lundi à Samedi<br>8:00-20:00</p>
      </div>
    </div>
  </div>
</section>
