<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-info">
          <img src="assets/img/1200px-La_Poste_tunisienne_2011.svg.png" alt="TheEvenet">
          <h5 class="mb-4 pb-0">En partenariat avec <br> La Poste Tunisenne</h5>
          <p>- Nous Vendons tout Type de Produit à &nbsp;&nbsp;&nbsp;un Bon Prix. <br>
             - Vous êtes un Fournisseur et vous &nbsp;&nbsp;&nbsp;voulez bien vendre vos Produits? 
            &nbsp;&nbsp;&nbsp;Vous êtes dans le Bon
             Endroit. <br> <b>&nbsp;&nbsp;<br>
               <a routerLink = "/sinscrire" routerLinkActive="active" *ngIf = "!estAuth">Rejoignez-Nous</a></b>
          </p>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
        </div>
        <div class="col-lg-3 col-md-6 footer-links">         
        </div>
        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contactez Nous</h4>
          <p>
            Rue Hedi Nouira <br>
            Tunis, Centre Ville<br>
            Tunisie <br>
            <strong>Numéro de Téléphone:</strong> +21620791462|+21655708866<br>
            <strong>Addresse Email:</strong> platVentePosteAdmins@gmail.com<br>
          </p>
          <div class="social-links">
            Retrouvez-nous sur <br><br>
            <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      <font style="color:rgb(228, 231, 8);">
        &copy; Copyright 2019 <strong>ePROD</strong>,<strong>La Poste Tunisienne</strong>. Tous droits réservés.
      </font>
    </div>
    <div class="credits">
    </div>
  </div>
</footer>

